In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv("train.csv")
df

,record_id,flood_indicator,country_code,week,temperature_celsius,pm25_ugm3,region,gdp_per_capita_usd,month,precipitation_mm,...,drought_indicator,income_level,extreme_weather_events,heat_wave_days,date,country_name,population_millions,air_quality_index,temp_anomaly_celsius,health_risk_class
0,1,0.0,IND,39.0,6.8,93.3,South Asia,2700.000000,9.0,49.5,...,0.0,Lower Middle,0.000000,0.000000,2019/09/29,India,NaN,138.000000,0.520000,1
1,2,0.0,EGY,11.0\t,63.032,NaN,Africa,4174.000000,3.0,153.7,...,0.0,Lower-Middle,0.000000,0.000000,15/03/2020,Egypt,102.000000,175.000000,-0.310000,2
2,3,0.0,IND\t,40.0,3.51,111.6,South Asia,2606.000000,10.0,51.1,...,0.0,LOWER-MIDDLE,0.000000,0.000000,08/10/2017,India,1380.000000,176.000000,-0.970000,1
3,4,0.0,CHN,33.0,NaN,81.1,East Asia,NaN,8.0,18.2,...,0.0,Upper-Middle,0.000000,0.000000,21.08.2016,China,1411.000000,123.000000,0.760000,1
4,5,NaN,IND,1.0,NaN,114.2,South Asia,2963.000000,1.0,134.5,...,0.0,Lower-Middle,0.000000,0.000000,05/01/2025,India,1380.000000,159.000000,0.120000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12837,12838,NaN,USA,5.003809370996368,48.92855234329899,30.417813757784426,North America,75120.172318,2.0005622785000163,NaN,...,0.0,Rich,0.000000,0.000000,04/02/2024,United States,330.943842,58.933215,-0.279770,1
12838,12839,0.0,NGA,NaN,24.8594300907257,67.20231403405994,Africa,2675.183604,2.0010168232190093,121.76608602771498,...,0.0,LOWER-MIDDLE,0.000000,0.000000,"February 16, 2020",Nigeria,206.049171,123.038012,0.060049,3
12839,12840,0.0,NGA,15.012183050088137,27.77140462540327,150.61896174967887,Sub-Saharan Africa,2772.915205,4.000796259669452,81.51308678346338,...,0.0,Lower-Middle,1.000492,1.000842,738262,Nigeria,205.848811,248.724519,NaN,3
12840,12841,0.0,PAK,44.037952127977334,-0.05995459353603917,53.5857994332107,South Asia,3913.487327,10.996978970705175,72.81216357301582,...,0.0,Lower-Middle,0.000000,0.000000,06.11.2016,Pakistan,225.029879,103.016729,0.429023,0
12841,12842,0.0,IND,0,17.396348958559468,84.05785740942265,South Asia,2731.559250,5.001007886297911,132.43656303945914,...,0.0,Lower-Middle,0.000000,0.000000,17.05.2020,INDIA,1378.693138,NaN,0.370175,2

In [ ]:
#studying data

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12842 entries, 0 to 12841
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   record_id                12842 non-null  int64
 1   flood_indicator          11604 non-null  object
 2   country_code             12842 non-null  object
 3   week                     11869 non-null  object
 4   temperature_celsius      11101 non-null  object
 5   pm25_ugm3                11911 non-null  object
 6   region                   12204 non-null  object
 7   gdp_per_capita_usd       11878 non-null  float64
 8   month                    12202 non-null  object
 9   precipitation_mm         11630 non-null  object
 10  mental_health_index      9126 non-null   float64
 11  year                     11409 non-null  object
 12  longitude                11314 non-null  float64
 13  food_security_index      8060 non-null   float64
 14  latitude                 11932 non-null  float64
 15  healthcare_access_index  8554 non-null   float64
 16  drought_indicator        11900 non-null  object
 17  income_level             12342 non-null  object
 18  extreme_weather_events   12196 non-null  float64
 19  heat_wave_days           12145 non-null  float64
 20  date                     12788 non-null  object
 21  country_name             12842 non-null  object
 22  population_millions      11331 non-null  float64
 23  air_quality_index        11378 non-null  float64
 24  temp_anomaly_celsius     12067 non-null  float64
 25  health_risk_class        12842 non-null  int64
dtypes: float64(11), int64(2), object(13)
memory usage: 2.5+ MB

In [ ]:
df.describe().round().T

,count,mean,std,min,25%,50%,75%,max
record_id,12842.0,6422.0,3707.0,1.0,3211.0,6422.0,9632.0,12842.0
gdp_per_capita_usd,11878.0,26135.0,26316.0,-100.0,3528.0,13796.0,49965.0,78630.0
mental_health_index,9126.0,70.0,5.0,48.0,66.0,70.0,73.0,89.0
longitude,11314.0,31.0,84.0,-106.0,-4.0,23.0,101.0,500.0
food_security_index,8060.0,93.0,6.0,65.0,89.0,95.0,100.0,100.0
latitude,11932.0,22.0,40.0,-38.0,5.0,24.0,37.0,498.0
healthcare_access_index,8554.0,65.0,18.0,28.0,47.0,66.0,82.0,102.0
extreme_weather_events,12196.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
heat_wave_days,12145.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
population_millions,11331.0,215.0,355.0,-99.0,60.0,98.0,206.0,1413.0
air_quality_index,11378.0,98.0,60.0,-99.0,53.0,92.0,142.0,302.0
temp_anomaly_celsius,12067.0,0.0,1.0,-2.0,-0.0,0.0,0.0,2.0
health_risk_class,12842.0,1.0,1.0,0.0,1.0,1.0,2.0,3.0

calculating the percentage of null values.

In [ ]:
df.isnull().sum()/len(df)*100

record_id                   0.000000
flood_indicator             9.640243
country_code                0.000000
week                        7.576701
temperature_celsius        13.557078
pm25_ugm3                   7.249650
region                      4.968074
gdp_per_capita_usd          7.506619
month                       4.983647
precipitation_mm            9.437782
mental_health_index        28.936303
year                       11.158698
longitude                  11.898458
food_security_index        37.237190
latitude                    7.086124
healthcare_access_index    33.390438
drought_indicator           7.335306
income_level                3.893475
extreme_weather_events      5.030369
heat_wave_days              5.427504
date                        0.420495
country_name                0.000000
population_millions        11.766080
air_quality_index          11.400093
temp_anomaly_celsius        6.034886
health_risk_class           0.000000
dtype: float64

In [ ]:
df[df.duplicated()].shape

(0, 26)

In [ ]:
for col in df.columns:
    if df[col].nunique(dropna=False) < 20:
        print(f"\nColumn: {col}")
        print(df[col].value_counts(dropna=False))
        print('_' * 50)

Column: flood_indicator
flood_indicator
0.0      10556
NaN       1238
FALSE      178
N          167
False      167
no         162
No         160
0          152
1.0         58
Yes          1
Y            1
True         1
yes          1
Name: count, dtype: int64
__________________________________________________

Column: drought_indicator
drought_indicator
0.0                   10777
NaN                     942
False                   172
N                       165
No                      165
no                      164
FALSE                   161
0                       151
1.0                     133
1                         3
TRUE                      2
Yes                       1
Y                         1
yes                       1
True                      1
1.0000321483312822        1
0.999085341107566         1
1.0001426094682164        1
Name: count, dtype: int64
__________________________________________________

Column: health_risk_class
health_risk_class
1    4461
2    3813
0    2591
3    1977
Name: count, dtype: int64
__________________________________________________

In [ ]:
#dropping these columns aas we find them unnecessary
droping = ['country_name', 'date', 'week', 'year']
df = df.drop(columns=droping)
df

,record_id,flood_indicator,country_code,temperature_celsius,pm25_ugm3,region,gdp_per_capita_usd,month,precipitation_mm,mental_health_index,...,latitude,healthcare_access_index,drought_indicator,income_level,extreme_weather_events,heat_wave_days,population_millions,air_quality_index,temp_anomaly_celsius,health_risk_class
0,1,0.0,IND,6.8,93.3,South Asia,2700.000000,9.0,49.5,NaN,...,20.590000,50.700000,0.0,Lower Middle,0.000000,0.000000,NaN,138.000000,0.520000,1
1,2,0.0,EGY,63.032,NaN,Africa,4174.000000,3.0,153.7,70.600000,...,26.820000,41.100000,0.0,Lower-Middle,0.000000,0.000000,102.000000,175.000000,-0.310000,2
2,3,0.0,IND\t,3.51,111.6,South Asia,2606.000000,10.0,51.1,67.100000,...,20.590000,48.900000,0.0,LOWER-MIDDLE,0.000000,0.000000,1380.000000,176.000000,-0.970000,1
3,4,0.0,CHN,NaN,81.1,East Asia,NaN,8.0,18.2,69.500000,...,35.860000,69.100000,0.0,Upper-Middle,0.000000,0.000000,1411.000000,123.000000,0.760000,1
4,5,NaN,IND,NaN,114.2,South Asia,2963.000000,1.0,134.5,73.600000,...,20.590000,46.300000,0.0,Lower-Middle,0.000000,0.000000,1380.000000,159.000000,0.120000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12837,12838,NaN,USA,48.92855234329899,30.417813757784426,North America,75120.172318,2.0005622785000163,NaN,72.561534,...,37.103984,NaN,0.0,Rich,0.000000,0.000000,330.943842,58.933215,-0.279770,1
12838,12839,0.0,NGA,24.8594300907257,67.20231403405994,Africa,2675.183604,2.0010168232190093,121.76608602771498,64.470222,...,9.078910,36.556269,0.0,LOWER-MIDDLE,0.000000,0.000000,206.049171,123.038012,0.060049,3
12839,12840,0.0,NGA,27.77140462540327,150.61896174967887,Sub-Saharan Africa,2772.915205,4.000796259669452,81.51308678346338,71.597020,...,202.033983,34.013486,0.0,Lower-Middle,1.000492,1.000842,205.848811,248.724519,NaN,3
12840,12841,0.0,PAK,-0.05995459353603917,53.5857994332107,South Asia,3913.487327,10.996978970705175,72.81216357301582,63.588121,...,NaN,NaN,0.0,Lower-Middle,0.000000,0.000000,225.029879,103.016729,0.429023,0
12841,12842,0.0,IND,17.396348958559468,84.05785740942265,South Asia,2731.559250,5.001007886297911,132.43656303945914,59.956663,...,20.539469,NaN,0.0,Lower-Middle,0.000000,0.000000,1378.693138,NaN,0.370175,2

In [ ]:
# checking unique values of country
df['country_code'].unique()

array(['IND', 'EGY', 'IND\t', 'CHN', 'COL', 'VNM\t', 'USA', 'FRA', 'PHL',
       'ZAF', 'BRA', 'FRANCE', 'ARG', '  COL  ', 'VNM', 'BGD', 'AUS',
       'ESP', 'THA', 'JPN', 'INDIA', 'CAN', 'DEU', 'ITA', 'bra', 'PAK',
       'GBR', '  MEX  ', 'KEN', 'PHL  ', 'U.S.A', 'NGA', 'IDN', '  EGY',
       'JAPAN', 'MEX', '  ZAF  ', 'JP', '  CN  ', 'UK', 'chn', 'PAK\t',
       'DE', 'CHINA', 'jpn', '  CHN  ', 'BRA  ', '  IDN', '  IND',
       'CHN\t', '  MEX', 'GB', 'gbr', 'BRAZIL', 'CAN\t', 'FR', '  BGD  ',
       '  PAK  ', 'USA\t', 'aus', 'IDN  ', 'EGY\t', '  ITA  ', '  ESP  ',
       '  ZAF', 'deu', 'ind', 'AU', 'DEU\t', 'ARG\t', '  THA', 'EGY  ',
       'FRA\t', 'fra', '  VNM  ', 'usa', 'US', '  AUST  ', '  NGA  ',
       'JPN  ', 'KEN\t', '  FRA', '  BRA', '  DEU  ', '  KEN', 'CN',
       'AUST', 'ARG  ', 'BR', 'MEX  ', 'GBR  ', '  EGY  ', 'AUS  ',
       'ESP  ', '  deu', 'FRA  ', '  CHN', 'AUS\t', '  U.S.A', 'ITA  ',
       'bra  ', '  GBR', 'COL\t', '  IDN  ', '  KEN  ', 'GER', '  ARG',
       '  NGA', 'USA  ', 'IN', '  THA  ', 'THA\t', 'CAN  ', '  ITA',
       'NGA  ', '  ARG  ', '  JAPAN  ', 'BGD\t', 'ZAF  ', 'ITA\t',
       'KEN  ', 'UK  ', 'GBR\t', 'JAPAN\t', 'PHL\t', 'JPN\t', '  USA',
       'BGD  ', 'VNM  ', '  CAN  ', 'ESP\t', '  USA  ', '  VNM', '  PAK',
       'IND  ', '  ESP', 'NGA\t', 'IDN\t', '  DEU', '  FRA  ', 'THA  ',
       'PAK  ', '  CAN', '  IND  ', 'COL  ', 'BRA\t', '  FRANCE', '  gbr',
       '  JPN', 'JAPAN  ', '  CHINA  ', 'ZAF\t', '  AUS', '  ind',
       'MEX\t', '  COL', 'US  ', '  PHL  ', '  INDIA', '  FR  ', 'DEU  ',
       '  GBR  ', '  BRA  ', '  INDIA  ', '  PHL', '  GER', 'UK\t',
       'CHN  ', '  BGD', 'gbr\t', 'chn\t', '  BRAZIL  ', '  AUS  ',
       '  US  ', '  bra'], dtype=object)

In [ ]:
#cleaning country column, removing white spaces and extra character
df['country_code'] = df['country_code'].str.strip()
df['country_code'] = df['country_code'].str.replace('\t', '')
df['country_code'] = df['country_code'].str.replace(' ', '')
df['country_code'] = df['country_code'].str.upper()

In [ ]:
#mapping  countries so that they cant be duplicated and replacing them
replacements = {

    'INDIA': 'IND',
    'CHINA': 'CHN',
    'JAPAN': 'JPN',
    'FRANCE': 'FRA',
    'BRAZIL': 'BRA',
    'AUSTRALIA': 'AUS',
    'GERMANY': 'DEU',


    'US': 'USA',
    'U.S.A': 'USA',
    'UK': 'GBR',
    'GB': 'GBR',
    'CN': 'CHN',
    'IN': 'IND',
    'JP': 'JPN',
    'FR': 'FRA',
    'DE': 'DEU',
    'BR': 'BRA',
    'AU': 'AUS',
    'AUST': 'AUS',
    'GER': 'DEU'
}
df['country_code'] = df['country_code'].replace(replacements)

In [ ]:
#checking unique values of region
df['region'].unique()

array(['South Asia', 'Africa', 'East Asia', 'South America',
       'Southeast Asia', 'North America', 'Europe\t', 'EUROPE',
       '  Europe  ', 'Europe', 'SOUTH AMERICA', nan, 'Oceania', 'ASEAN',
       'Far East', 'S. America', 'EU', 'SEA', 'Pacific', 'S. Asia',
       'east asia', 'europe', 'Northern America', '  Southeast Asia',
       'African Continent', 'southeast asia', 'SA', 'European Union',
       'oceania', 'EAST ASIA', 'africa', '  Europe', 'Afriia',
       'south asia', 'Africa  ', '  Western Europe  ', 'SOUTH ASIA',
       '  Southeast Asia  ', 'AFRICA', 'Oceania\t', '  South America',
       'Sub-Saharan Africa', 'E. Asia', 'South mAerica', 'NORTH AMERICA',
       'Europe  ', 'Western Europe', 'Arfica', 'Southeast  Asia',
       'South  Asia', 'EUROPE\t', 'Southeast Asia\t', 'SE Asia',
       'N. America', 'north america', 'South East Asia',
       '  North America', '  ASEAN  ', '  S. America  ', 'OCEANIA',
       'Indian Subcontinent', 'south america', '  North America  ',
       'Africa\t', 'southeast  asia', '  South Asia', 'Latin America',
       '  East Asia', '  Oceania', '  Africa  ', 'East  Asia',
       'East Asia\t', 'North America  ', 'Evurope', 'Euaope',
       'Nortth America', 'Sub-Saharan Africa  ', 'South Asia\t',
       'Soputh Asia', 'South Asia  ', 'North Amreica',
       '  African Continent  ', 'Norh America', 'Sounth Asia',
       '  Latin America  ', 'ASEAN\t', '  East Asia  ', 'Afrcia',
       'South sAia', 'EAST ASIA\t', 'Southegst Asia', '  N. America',
       'Sub-Saharan Africa\t', 'North  America', 'SA  ', 'East Asia  ',
       'Western  Europe', 'South  America', 'Nort hAmerica',
       'North Ameria', 'Souqh Asia', 'S. Amrica', 'Afrsica',
       'South America\t', '  Africa', '  southeast asia',
       'Wesstern Europe', 'European Union\t', 'southasia', 'East tsia',
       'Ekurope', 'souetheast asia', 'South Acerica', 'S.  Asia',
       'North America\t', 'Southeast  Asa', '  N. America  ',
       'Austrauia and Oceania', 'Northw America', 'afica',
       '  EAST ASIA  ', 'Soautheast Asia', 'South Aia', 'Soctheast Asia',
       'South America  ', 'Southaest Asia', 'Efrope', 'Afria',
       'S.  America', 'Sub-Sxharan Africa', 'Souhteast Asia',
       'Latin  America', 'Afgrica', '  EU', 'Indian Subcontinent  ',
       'Afica', 'Indian Sebcontinent', '  europe', 'south  america',
       'Soutsheast Asia', '  South America  ', '  SEA',
       'Australia and Occeania', 'FarE ast', 'Ezurope', 'Euqrope',
       'E. Asia\t', 'Australia and Oceania', 'Est Asia',
       'Southeast Asia  ', 'Eost Asia', 'Afhica', 'Eruope',
       '  South Asia  ', 'Euwope', 'Eumrope', 'Eurpe', 'EastAsia',
       'Nortn America', 'Edurope', 'EUROPE  ', 'Notrh America', 'afrmca',
       'Nofrth America', 'NA  ', '  afrcia', 'Eurovpe',
       '  European Union  ', 'oceania\t', 'Oceania  ', 'SouthdAsia',
       'South Asza', 'S Asia  ', 'SoutheastA sia', 'Sotuh Asia',
       'Eurgope', 'SE Asia  ', 'Latin America  ', 'South Amerca',
       'North Amercia', '  East dAsia  ', 'North Aerica',
       'African Continent  ', 'Afrcia\t', '  Sub-Saharan Africa  ',
       'Soutc America', '  east asia', 'South Amyrica', 'Souh America',
       'Erope', '  south america', 'South mAerica  ', 'Ocenaia',
       'S. Amerca', 'Afrira', 'Euope', 'North cmerica', '  europe  ',
       'europe  ', 'Afzica', 'Afeica', 'SouthAsia', 'South Ameica',
       '  EU  ', 'oceania  ', 'Afriqa', '  Suotheast Asia  ', 'Eorope',
       'Aqrica', 'Afrisa', '  south asia', 'southeast asia\t',
       'soush asia', 'Southeast Astia', 'Sojuth America', 'EURPE',
       '  Australia and Oceania  ', 'africa\t', ' Africa',
       '  Sub-Saharan Africa', 'Euroep', '  north america  ',
       'Suotheast Asia', 'Southeast Asgia', 'Afrixca', 'North Aderica',
       'EU  ', '  SOUTH AMERICA', 'S. America  ', 'Oceanlia',
       'Indian  Subcontinent', 'Sout America', 'African Conkinent',
       'Far aEst', 'South Aserica', 'Eupope', 'Southeat Asia',
       'Southeamt Asia', 'Eurdope', 'Southeast hsia', 'South Assia',
       'Southeas tAsia', '  SEA  ', 'Western iEurope', '  oceania',
       'Southeast Aisa', 'Soutx Asia', 'SA\t', 'Nyrth America  ',
       '  EUROEP', 'NorthA merica', 'North A merica', 'east asia  ',
       'Afriac', 'Szoutheast Asia', 'Suoth Asia', 'europe\t',
       'southeast asia  ', 'ASENA', 'Ocerania', '  Northern America  ',
       'Sotuh America', 'SAE', 'Far Eats', 'East jsia',
       'Africapn Continent', '  NORTH AMERICA  ', 'north ameriva',
       '  SOUTH ASIA', 'Soytheast Asia', '  ASEAN', '  Far East',
       'Afriea', 'Soutu America', 'Southeast uAsia', 'Afrdca',
       'Soubh Asia', 'Afirca', 'Ocjania\t', 'Far Eqst', '  Afria  ',
       'European Unin', 'Noryh America', 'Nortz America',
       'African Continent\t', '  Far East  ', 'North dmerica',
       'Nroth America', 'Nrothern America', '  africa',
       'Sub-Saharman Africa', 'Northern Auerica', 'Euarope', 'S. Asia\t',
       'Esat Asia', '  SOUTH ASIA  ', 'SOUTH AMERICA\t', 'Soth Asia',
       'Afrlica', 'Souht America', 'Southeast sAia', 'Sosth America',
       'Souqtheast Asia', '  EUROPE', '  Indian Subcontinent',
       'Northern  America', 'SOUTH AISA', '  SE Asia', 'north america  ',
       'Afrca', 'EastA sia', 'Eurbpe', 'SoutheastAsia', 'Souah Asia',
       'Soulh America', 'Spouth America', 'Afrgica', 'Oceainia',
       'Southest Asia', 'E.  Asia', 'Ocaenia', 'European Unoin  ',
       'Ocenia', 'Latin Amerisca', 'Akrica', 'souht america',
       '  South East Asia', 'South sia', '  east asia  ', 'east asia\t',
       'Aafrica', 'south ameria', 'South Aemrica', '  E. Asia  ',
       '  Sout America  ', 'E. Asia  ', 'Eurore', 'N.  America',
       'Okeania', 'Pacific  ', 'Eurotpe', 'Euorpe', 'Ecrope',
       '  Northern America', 'SEA\t', 'Eurzope', 'africa  '], dtype=object)

In [ ]:
#cleaning region column
df['region'] = df['region'].str.strip()
df['region'] = df['region'].str.replace('\t', '')
df['region'] = df['region'].str.replace('  ', ' ')
df['region'] = df['region'].str.title()

In [ ]:

#replacing regions so that values are consistent
replacements = {
    # Africa variations
    'Afriia': 'Africa',
    'Arfica': 'Africa',
    'Afrcia': 'Africa',
    'Afria': 'Africa',
    'Afrira': 'Africa',
    'Afriqa': 'Africa',
    'Afrisa': 'Africa',
    'Afrixca': 'Africa',
    'Afriac': 'Africa',
    'Afriea': 'Africa',
    'Afirca': 'Africa',
    'Afrlica': 'Africa',
    'Afrca': 'Africa',
    'Afrgica': 'Africa',
    'Akrica': 'Africa',
    'Aafrica': 'Africa',
    'Afica': 'Africa',
    'Afrdca': 'Africa',
    'Afzica': 'Africa',
    'Afeica': 'Africa',
    'Aqrica': 'Africa',
    'Afgrica': 'Africa',
    'Afhica': 'Africa',
    'Afica': 'Africa',
    'Afrsica': 'Africa',
    'Afrmca': 'Africa',

    # Europe variations
    'Evurope': 'Europe',
    'Euaope': 'Europe',
    'Ekurope': 'Europe',
    'Efrope': 'Europe',
    'Ezurope': 'Europe',
    'Euqrope': 'Europe',
    'Eruope': 'Europe',
    'Euwope': 'Europe',
    'Eumrope': 'Europe',
    'Eurpe': 'Europe',
    'Edurope': 'Europe',
    'Eurovpe': 'Europe',
    'Eurgope': 'Europe',
    'Eorope': 'Europe',
    'Euroep': 'Europe',
    'Eupope': 'Europe',
    'Eurdope': 'Europe',
    'Euarope': 'Europe',
    'Eurbpe': 'Europe',
    'Eurore': 'Europe',
    'Eurotpe': 'Europe',
    'Euorpe': 'Europe',
    'Ecrope': 'Europe',
    'Eurzope': 'Europe',
    'Erope': 'Europe',
    'Euope': 'Europe',
    'Euroep': 'Europe',

    # South Asia variations
    'Soputh Asia': 'South Asia',
    'Sounth Asia': 'South Asia',
    'South Saia': 'South Asia',
    'Souqh Asia': 'South Asia',
    'South Aia': 'South Asia',
    'Southdasia': 'South Asia',
    'South Asza': 'South Asia',
    'Sotuh Asia': 'South Asia',
    'Southasia': 'South Asia',
    'Soutx Asia': 'South Asia',
    'Suoth Asia': 'South Asia',
    'Soth Asia': 'South Asia',
    'Souah Asia': 'South Asia',
    'South Sia': 'South Asia',
    'Soush Asia': 'South Asia',
    'Soutx Asia': 'South Asia',
    'Soubh Asia': 'South Asia',
    'South Assia': 'South Asia',
    'Souht Asia': 'South Asia',
    'Sosth Asia': 'South Asia',
    'Soulh America': 'South America',

    # Southeast Asia variations
    'Southegst Asia': 'Southeast Asia',
    'Southeast Asa': 'Southeast Asia',
    'Soautheast Asia': 'Southeast Asia',
    'Soctheast Asia': 'Southeast Asia',
    'Southaest Asia': 'Southeast Asia',
    'Souhteast Asia': 'Southeast Asia',
    'Soutsheast Asia': 'Southeast Asia',
    'Southeastasia': 'Southeast Asia',
    'Southeastasia': 'Southeast Asia',
    'Southeast Astia': 'Southeast Asia',
    'Suotheast Asia': 'Southeast Asia',
    'Southeast Asgia': 'Southeast Asia',
    'Southeat Asia': 'Southeast Asia',
    'Southeamt Asia': 'Southeast Asia',
    'Southeast Hsia': 'Southeast Asia',
    'Southeas Tasia': 'Southeast Asia',
    'Southeast Aisa': 'Southeast Asia',
    'Szoutheast Asia': 'Southeast Asia',
    'Soytheast Asia': 'Southeast Asia',
    'Southeast Uasia': 'Southeast Asia',
    'Souqtheast Asia': 'Southeast Asia',
    'Southest Asia': 'Southeast Asia',
    'Souetheast Asia': 'Southeast Asia',

    # East Asia variations
    'East Tsia': 'East Asia',
    'Eost Asia': 'East Asia',
    'Eastasia': 'East Asia',
    'Est Asia': 'East Asia',
    'Easta Asia': 'East Asia',
    'East Jsia': 'East Asia',
    'Esat Asia': 'East Asia',

    # North America variations
    'Nortth America': 'North America',
    'North Amreica': 'North America',
    'Norh America': 'North America',
    'Nort Hamerica': 'North America',
    'North Ameria': 'North America',
    'Northw America': 'North America',
    'Nortn America': 'North America',
    'Notrh America': 'North America',
    'North Amercia': 'North America',
    'North Aerica': 'North America',
    'North Cmerica': 'North America',
    'North Aderica': 'North America',
    'Nyrth America': 'North America',
    'Northa Merica': 'North America',
    'North A Merica': 'North America',
    'North Ameriva': 'North America',
    'Noryh America': 'North America',
    'Nortz America': 'North America',
    'North Dmerica': 'North America',
    'Nroth America': 'North America',
    'Nofrth America': 'North America',

    # South America variations
    'South Maerica': 'South America',
    'S. Amrica': 'South America',
    'South Acerica': 'South America',
    'South Amerca': 'South America',
    'South Amyrica': 'South America',
    'Souh America': 'South America',
    'South Ameica': 'South America',
    'Sojuth America': 'South America',
    'Sout America': 'South America',
    'Sotuh America': 'South America',
    'Soutu America': 'South America',
    'Souht America': 'South America',
    'Soutc America': 'South America',
    'Soulh America': 'South America',
    'Spouth America': 'South America',
    'Souht America': 'South America',
    'South Ameria': 'South America',
    'South Aemrica': 'South America',
    'South Aserica': 'South America',
    'S. Amerca': 'South America',

    # Oceania variations
    'Ocenaia': 'Oceania',
    'Oceanlia': 'Oceania',
    'Ocerania': 'Oceania',
    'Ocjania': 'Oceania',
    'Oceainia': 'Oceania',
    'Ocaenia': 'Oceania',
    'Ocenia': 'Oceania',
    'Okeania': 'Oceania',
    'Austrauia And Oceania': 'Australia And Oceania',
    'Australia And Occeania': 'Australia And Oceania',

    # Abbreviations and variations to standard names
    'Sa': 'South Asia',
    'S. Asia': 'South Asia',
    'S Asia': 'South Asia',
    'S. America': 'South America',
    'S. Amerca': 'South America',
    'S.  America': 'South America',
    'S.  Asia': 'South Asia',
    'Sea': 'Southeast Asia',
    'Se Asia': 'Southeast Asia',
    'Asean': 'Southeast Asia',
    'Asena': 'Southeast Asia',
    'Sae': 'Southeast Asia',
    'Eu': 'Europe',
    'European Union': 'Europe',
    'European Unin': 'Europe',
    'European Unoin': 'Europe',
    'Western Europe': 'Europe',
    'Western  Europe': 'Europe',
    'Western Ieurope': 'Europe',
    'Wesstern Europe': 'Europe',
    'Northern America': 'North America',
    'Nrothern America': 'North America',
    'Northern  America': 'North America',
    'Northern Auerica': 'North America',
    'N. America': 'North America',
    'N.  America': 'North America',
    'Na': 'North America',
    'E. Asia': 'East Asia',
    'E.  Asia': 'East Asia',
    'Far East': 'East Asia',
    'Far Aest': 'East Asia',
    'Far Eats': 'East Asia',
    'Far Eqst': 'East Asia',
    'Fare Ast': 'East Asia',
    'African Continent': 'Africa',
    'African Conkinent': 'Africa',
    'Africapn Continent': 'Africa',
    'Sub-Saharan Africa': 'Africa',
    'Sub-Saharman Africa': 'Africa',
    'Sub-Sxharan Africa': 'Africa',
    'Indian Subcontinent': 'South Asia',
    'Indian  Subcontinent': 'South Asia',
    'Indian Sebcontinent': 'South Asia',
    'Latin America': 'South America',
    'Latin  America': 'South America',
    'Latin Amerisca': 'South America',
    'Pacific': 'Oceania',
    'Eurpe': 'Europe',
    'South East Asia': 'Southeast Asia',

    #additional
    'East Dasia': 'East Asia',
    'Easta Sia': 'East Asia',
    'Sosth America': 'South America',
    'South Aisa': 'South Asia',
    'Southeast Saia': 'Southeast Asia',
    'Southeasta Sia': 'Southeast Asia',
    'Australia And Oceania': 'Oceania'
}


df['region'] = df['region'].replace(replacements)


df['region'] = df['region'].str.strip()

print("Cleaning complete!")

Cleaning complete!

In [ ]:
# For rows where the 'region' column is missing (NaN),
# fill them by looking up the country code in the country_to_region dictionary
country_to_region = {
    # North America
    'USA': 'North America',
    'CAN': 'North America',
    'MEX': 'North America',

    # South America
    'BRA': 'South America',
    'ARG': 'South America',
    'COL': 'South America',

    # Europe
    'DEU': 'Europe',
    'FRA': 'Europe',
    'GBR': 'Europe',
    'ITA': 'Europe',
    'ESP': 'Europe',

    # South Asia
    'IND': 'South Asia',
    'PAK': 'South Asia',
    'BGD': 'South Asia',

    # Southeast Asia
    'PHL': 'Southeast Asia',
    'IDN': 'Southeast Asia',
    'VNM': 'Southeast Asia',
    'THA': 'Southeast Asia',

    # East Asia
    'CHN': 'East Asia',
    'JPN': 'East Asia',

    # Africa
    'NGA': 'Africa',
    'EGY': 'Africa',
    'ZAF': 'Africa',
    'KEN': 'Africa',

    # Oceania
    'AUS': 'Oceania',
}

df.loc[df['region'].isna(), 'region'] = df.loc[df['region'].isna(), 'country_code'].map(country_to_region)

In [ ]:
#checking unique values in income level
df['income_level'].unique()

array(['Lower Middle', 'Lower-Middle', 'LOWER-MIDDLE', 'Upper-Middle',
       'High', nan, 'H', 'UPPER-MIDDLE', 'UM', 'HIGH', 'High  ', '  High',
       'Developed', 'lower-middle', 'High\t', 'Rich', 'Emerging',
       'Developing', 'high', 'Upper-Middle  ', 'Lower-Middle\t',
       'upper-middle', '  Lower-Middle', '  Emerging', 'H  ', 'LM',
       '  High  ', 'H\t', '  Lower-Middle  ', 'Upper Middle',
       'High Income', '  Upper-Middle', 'Upper-Middle\t', 'LM\t',
       'Emerging\t', '  Emerging  ', '  Upper-Middle  ', 'high\t',
       'Developed  ', '  Upper Middle  ', 'High Income\t',
       'Lower-Middle  ', 'Upper  Middle', 'LOWER-MIDDLE\t',
       '  upper-middle', 'Emerging  ', 'Upper Middle\t', 'Lower Middle\t',
       'Lower Middle  ', 'High Income  ', '  Rich', 'lower-middle  ',
       '  lower-middle  ', 'Developed\t', 'UPPER-MIDDLE  ',
       'Lower  Middle', '  Lower Middle', '  HIGH  ', 'Upper Middle  ',
       '  LM  ', 'LM  ', 'lower-middle\t', '  Developing', '  Rich  ',
       '  high', '  lower-middle', 'upper-middle  ', 'HIGH\t', 'Rich  ',
       '  LOWER-MIDDLE', '  H  ', 'High  Income', '  Developed  ',
       'high  ', '  Upper Middle', '  high  ', 'Developing\t',
       '  UPPER-MIDDLE  ', '  UPPER-MIDDLE', '  LOWER-MIDDLE  ', '  HIGH',
       '  UM', 'Developing  ', 'UM\t', '  Lower Middle  ',
       '  High Income  ', 'LOWER-MIDDLE  ', 'HIGH  ', 'upper-middle\t'],
      dtype=object)

In [ ]:
#cleaning income level column
df['income_level'] = df['income_level'].str.strip()
df['income_level'] = df['income_level'].str.replace('\t', '')
df['income_level'] = df['income_level'].str.replace('  ', ' ')
df['income_level'] = df['income_level'].str.title()

In [ ]:
#mapping income level to make them consistent
standardization = {
    # High income variations
    'H': 'High',
    'High Income': 'High',
    'Rich': 'High',
    'Developed': 'High',

    # Upper-Middle variations
    'Um': 'Upper-Middle',
    'Upper Middle': 'Upper-Middle',
    'Upper Middle': 'Upper-Middle',

    # Lower-Middle variations
    'Lm': 'Lower-Middle',
    'Lower Middle': 'Lower-Middle',

    # Other variations
    'Emerging': 'Upper-Middle',
    'Developing': 'Lower-Middle',
}


df['income_level'] = df['income_level'].replace(standardization)


df['income_level'] = df['income_level'].str.replace('Upper Middle', 'Upper-Middle')
df['income_level'] = df['income_level'].str.replace('Lower Middle', 'Lower-Middle')

In [ ]:

country_to_income = {

    'USA': 'High',
    'CAN': 'High',
    'AUS': 'High',
    'GBR': 'High',
    'DEU': 'High',
    'FRA': 'High',
    'ITA': 'High',
    'ESP': 'High',
    'JPN': 'High',

    # Upper-Middle income countries
    'CHN': 'Upper-Middle',
    'BRA': 'Upper-Middle',
    'MEX': 'Upper-Middle',
    'ARG': 'Upper-Middle',
    'ZAF': 'Upper-Middle',
    'THA': 'Upper-Middle',
    'COL': 'Upper-Middle',

    # Lower-Middle income countries
    'IND': 'Lower-Middle',
    'IDN': 'Lower-Middle',
    'PHL': 'Lower-Middle',
    'VNM': 'Lower-Middle',
    'EGY': 'Lower-Middle',
    'PAK': 'Lower-Middle',
    'BGD': 'Lower-Middle',
    'NGA': 'Lower-Middle',
    'KEN': 'Lower-Middle',
}

# Fill missing values based on country
df.loc[df['income_level'].isna(), 'income_level'] = (
    df.loc[df['income_level'].isna(), 'country_code'].map(country_to_income)
)

In [ ]:
#checking unique values in flood indicator
df['flood_indicator'].unique()

array(['0.0', nan, 'FALSE', 'no', '0', 'False', 'No', '1.0', 'N', 'Yes',
       'Y', 'True', 'yes'], dtype=object)

In [ ]:
# Define lists of string representations for negative and positive values
negative = ['0', '0.0', 'false', 'no', 'n']
positive = ['1', '1.0', 'true', 'yes', 'y']
# Standardize the 'flood_indicator' column to binary  format
df['flood_indicator'] = (
    df['flood_indicator']
    .astype(str)
    .str.strip()
    .str.lower()
    .map(lambda x: 0 if x in negative else 1 if x in positive else None)
)

In [ ]:
# List all columns that should be numeric
numeric_columns = [
    'temperature_celsius',
    'precipitation_mm',
    'pm25_ugm3',
    'air_quality_index',
    'healthcare_access_index',
    'food_security_index',
    'mental_health_index',
    'gdp_per_capita_usd',
    'population_millions',
    'latitude',
    'longitude',
    'heat_wave_days',
    'extreme_weather_events',
    'flood_indicator',
    'drought_indicator',
    'temp_anomaly_celsius',
]

# Convert all to numeric
for col in numeric_columns:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='coerce')

In [ ]:
#PM_2.5 value cant be negative, so replace them with not a number
df.loc[df['pm25_ugm3'] < 0, 'pm25_ugm3'] = np.nan

In [ ]:
#replace negative gdp per capita with not a number
df.loc[df['gdp_per_capita_usd'] < 0, 'gdp_per_capita_usd'] = np.nan

In [ ]:

def classify_income_by_gdp(gdp):
    if pd.isna(gdp):
        return None
    elif gdp < 1136:
        return 'Low'
    elif gdp < 4466:
        return 'Lower-Middle'
    elif gdp < 13846:
        return 'Upper-Middle'
    else:
        return 'High'

# Create new corrected column
df['income_level_corrected'] = df['gdp_per_capita_usd'].apply(classify_income_by_gdp)

# Compare old vs new
comparison = pd.crosstab(df['income_level'], df['income_level_corrected'], margins=True)


# Show countries that changed
changed = df[df['income_level'] != df['income_level_corrected']].groupby('country_code').size().sort_values(ascending=False)

# Replace old with new
df['income_level_old'] = df['income_level']  # backup
df['income_level'] = df['income_level_corrected']
df.drop('income_level_corrected', axis=1, inplace=True)

In [ ]:
#correct negative precipitation_mm with NaN
df.loc[df['precipitation_mm'] < 0, 'precipitation_mm'] = np.nan

In [ ]:
#if food security index is greater than 0, replace it with 100

df.loc[df['food_security_index'] > 100, 'food_security_index'] = 100.0

In [ ]:
#if healthcare_access_index is greater than 0, replace it with 100
df.loc[df['healthcare_access_index'] > 100, 'healthcare_access_index'] = 100.0

In [ ]:
#if healthcare_access_index is greater than 1, replace it with 1
df.loc[df['drought_indicator'] > 1, 'drought_indicator'] = 1.0


df.loc[(df['drought_indicator'] >= 0.99) & (df['drought_indicator'] < 1), 'drought_indicator'] = 1.0

In [ ]:
# Convert extreme weather events count to integer format with proper rounding
df['extreme_weather_events'] = df['extreme_weather_events'].round().astype('Int64')

In [ ]:
# Convert heat_wave_days count to integer format with proper rounding
df['heat_wave_days'] = df['heat_wave_days'].round().astype('Int64')

In [ ]:
#clean polulation in millions column
df.loc[df['population_millions'] < 0, 'population_millions'] = df.loc[df['population_millions'] < 0, 'population_millions'].abs()


country_pop_stats = df.groupby('country_code')['population_millions'].agg(['mean', 'std', 'min', 'max', 'count'])
country_pop_stats['variation_coef'] = (country_pop_stats['std'] / country_pop_stats['mean'] * 100).round(2)
country_pop_stats = country_pop_stats.sort_values('variation_coef', ascending=False)



high_variation = country_pop_stats[country_pop_stats['variation_coef'] > 5]

In [ ]:
#replace impossible values with NaN
df.loc[df['air_quality_index'] < 0, 'air_quality_index'] = np.nan

In [ ]:
#replace impossible values with NaN
import numpy as np
df.loc[(df['latitude'] < -90) | (df['latitude'] > 90), 'latitude'] = np.nan
df.loc[(df['longitude'] < -180) | (df['longitude'] > 180), 'longitude'] = np.nan

In [ ]:
#replace impossible values with NaN
df.loc[df['temperature_celsius'] < -60.2, 'temperature_celsius'] = np.nan
df.loc[df['temperature_celsius'] > 56.7, 'temperature_celsius'] = np.nan

In [ ]:
month_mapping = {
        'January': 1, 'Jan': 1,
        'February': 2, 'Feb': 2,
        'March': 3, 'Mar': 3,
        'April': 4, 'Apr': 4,
        'May': 5,
        'June': 6, 'Jun': 6,
        'July': 7, 'Jul': 7,
        'August': 8, 'Aug': 8,
        'September': 9, 'Sep': 9, 'Sept': 9,
        'October': 10, 'Oct': 10,
        'November': 11, 'Nov': 11,
        'December': 12, 'Dec': 12
    }

    # Replace month names with numbers
df['month'] = df['month'].replace(month_mapping)

    # Convert to numeric, coerce any remaining strings to NaN
df['month'] = pd.to_numeric(df['month'], errors='coerce')

    # Validate month is between 1-12
invalid_months = df[(df['month'] < 1) | (df['month'] > 12)]['month']
if len(invalid_months) > 0:

    df.loc[(df['month'] < 1) | (df['month'] > 12), 'month'] = np.nan

In [ ]:

    region_mapping = {
        'Australia And Oceania': 'Oceania',
        'australia and oceania': 'Oceania',
        'AUSTRALIA AND OCEANIA': 'Oceania',
    }



    df['region'] = df['region'].replace(region_mapping)

In [ ]:
from sklearn.impute import KNNImputer, SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [ ]:
#fill income level with mode
df['income_level'].fillna(df['income_level'].mode()[0], inplace=True)

/tmp/ipython-input-1591584212.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['income_level'].fillna(df['income_level'].mode()[0], inplace=True)

In [ ]:
# fill flood_indicator and drought indicator with mode
df['flood_indicator'].fillna(0, inplace=True)


df['drought_indicator'].fillna(0, inplace=True)

/tmp/ipython-input-2791779621.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['flood_indicator'].fillna(0, inplace=True)
/tmp/ipython-input-2791779621.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['drought_indicator'].fillna(0, inplace=True)

In [ ]:
#fill missing month with random values to avoid biasness
np.random.seed(42)
missing_month = df['month'].isnull().sum()
df.loc[df['month'].isnull(), 'month'] = np.random.randint(1, 13, size=missing_month)

In [ ]:
#replace extreme_weather_events and heat_wave_days with its median values


df['extreme_weather_events'].fillna(df['extreme_weather_events'].median(), inplace=True)


df['heat_wave_days'].fillna(df['heat_wave_days'].median(), inplace=True)

/tmp/ipython-input-192072719.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['extreme_weather_events'].fillna(df['extreme_weather_events'].median(), inplace=True)
/tmp/ipython-input-192072719.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['heat_wave_days'].fillna(df['heat_wave_days'].median(), inplace=True)

In [ ]:
#fill latitude and longitude with its country mean--> regional mean--> global mean
df['latitude'] = df.groupby('country_code')['latitude'].transform(
    lambda x: x.fillna(x.mean())
)
df['latitude'] = df.groupby('region')['latitude'].transform(
    lambda x: x.fillna(x.mean())
)

df['latitude'].fillna(df['latitude'].median(), inplace=True)



df['longitude'] = df.groupby('country_code')['longitude'].transform(
    lambda x: x.fillna(x.mean())
)
df['longitude'] = df.groupby('region')['longitude'].transform(
    lambda x: x.fillna(x.mean())
)
df['longitude'].fillna(df['longitude'].median(), inplace=True)

/tmp/ipython-input-2809403415.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['latitude'].fillna(df['latitude'].median(), inplace=True)
/tmp/ipython-input-2809403415.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['longitude'].fillna(df['longitude'].median(), inplace=True)

In [ ]:
#replace missing GDP with its country mean-->income level mean

df['gdp_per_capita_usd'] = df.groupby('country_code')['gdp_per_capita_usd'].transform(
    lambda x: x.fillna(x.mean())
)

df['gdp_per_capita_usd'] = df.groupby('income_level')['gdp_per_capita_usd'].transform(
    lambda x: x.fillna(x.mean())
)

In [ ]:
#fill missing values using KNN
weather_cols = ['temperature_celsius', 'precipitation_mm', 'temp_anomaly_celsius',
                'latitude', 'longitude', 'month']


knn_imputer = KNNImputer(n_neighbors=5, weights='distance')
df[weather_cols] = knn_imputer.fit_transform(df[weather_cols])

In [ ]:
#fill missing values of pm25_ugm3', 'air_quality_index', 'temperature_celsius' with KNN
air_quality_cols = ['pm25_ugm3', 'air_quality_index', 'temperature_celsius',
                    'latitude', 'longitude']

knn_imputer = KNNImputer(n_neighbors=5, weights='distance')
df[air_quality_cols] = knn_imputer.fit_transform(df[air_quality_cols])

In [ ]:

#use iterative mice to fill missing values of mental_health_index', 'healthcare_access_index

health_cols = ['mental_health_index', 'healthcare_access_index',
               'food_security_index', 'gdp_per_capita_usd', 'population_millions']


mice_imputer = IterativeImputer(max_iter=10, random_state=42)
df[health_cols] = mice_imputer.fit_transform(df[health_cols])

In [ ]:
#some more cleaning
df.drop('income_level_old', axis=1, inplace=True)


df['region'] = df['region'].replace({'Australia And Oceania': 'Oceania'})


df['month'] = df['month'].astype(int)


df['flood_indicator'] = df['flood_indicator'].astype(int)
df['drought_indicator'] = df['drought_indicator'].astype(int)

In [ ]:
#still not fully cleaned
df.loc[
    (df['temperature_celsius'] < -60) |
    (df['temperature_celsius'] > 60),
    'temperature_celsius'
] = np.nan

In [ ]:
#cleaning it again!
df.loc[df['population_millions'] < 0, 'population_millions'] = np.nan

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
uploaded = files.upload()
df = pd.read_csv("cleaned_dataset.csv")
regional_risk = df.groupby("region")["health_risk_class"].mean()

plt.figure(figsize=(7,5))
plt.bar(regional_risk.index, regional_risk.values)
plt.title("Average Health Risk by Region")
plt.xlabel("Region")
plt.ylabel("Average Health Risk")
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

NameError: name 'files' is not defined

In [ ]:
plt.figure(figsize=(6,5))
plt.scatter(df["air_quality_index"], df["health_risk_class"], alpha=0.6)
plt.title("Air Quality Index vs Health Risk")
plt.xlabel("Air Quality Index")
plt.ylabel("Health Risk Class")
plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize=(6,5))
plt.scatter(df["healthcare_access_index"], df["health_risk_class"], alpha=0.6)
plt.title("Healthcare Access vs Health Risk")
plt.xlabel("Healthcare Access Index")
plt.ylabel("Health Risk Class")
plt.tight_layout()
plt.show()

In [ ]:
# Focus on health risk related variables
import seaborn as sns
health_vars = ['health_risk_class', 'pm25_ugm3', 'air_quality_index',
               'temperature_celsius', 'heat_wave_days', 'extreme_weather_events',
               'healthcare_access_index', 'mental_health_index', 'gdp_per_capita_usd']

# Check which variables exist in the dataset
existing_vars = [var for var in health_vars if var in df.columns]

# Create focused correlation matrix
health_corr = df[existing_vars].corr()

# Plot focused heatmap
plt.figure(figsize=(10, 8))
sns.heatmap(health_corr,
            annot=True,
            cmap='viridis',
            fmt='.2f',
            square=True,
            linewidths=0.5)
plt.title('Health Risk Correlation Matrix', fontsize=16, pad=20)
plt.tight_layout()
plt.show()

# Print correlations with health_risk_class
if 'health_risk_class' in df.columns:
    health_risk_corrs = health_corr['health_risk_class'].sort_values(ascending=False)
    print("\nCorrelations with Health Risk Class:")
    print(health_risk_corrs)

In [ ]:
income_risk = df.groupby("income_level")["health_risk_class"].mean()

plt.figure(figsize=(6,5))
plt.bar(income_risk.index, income_risk.values)
plt.title("Average Health Risk by Income Level")
plt.xlabel("Income Level")
plt.ylabel("Average Health Risk")
plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize=(6,5))
plt.scatter(df["pm25_ugm3"], df["health_risk_class"], alpha=0.6)
plt.title("PM2.5 Concentration vs Health Risk")
plt.xlabel("PM2.5 (Âµg/mÂ³)")
plt.ylabel("Health Risk Class")
plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize=(6,5))
plt.scatter(df["temp_anomaly_celsius"], df["health_risk_class"], alpha=0.6)
plt.title("Temperature Anomaly vs Health Risk")
plt.xlabel("Temperature Anomaly (Â°C)")
plt.ylabel("Health Risk Class")
plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize=(6,5))
plt.scatter(
    df["air_quality_index"],
    df["health_risk_class"],
    c=df["healthcare_access_index"],
    alpha=0.7
)
plt.colorbar(label="Healthcare Access Index")
plt.title("Healthcare Access Mitigates Pollution-Driven Health Risk")
plt.xlabel("Air Quality Index")
plt.ylabel("Health Risk Class")
plt.tight_layout()
plt.show()

In [ ]:
for level in df["income_level"].unique():
    subset = df[df["income_level"] == level]
    plt.scatter(
        subset["pm25_ugm3"],
        subset["health_risk_class"],
        label=level,
        alpha=0.6
    )

plt.title("Health Risk Inequality at Similar Pollution Levels")
plt.xlabel("PM2.5 (Âµg/mÂ³)")
plt.ylabel("Health Risk Class")
plt.legend(title="Income Level")
plt.tight_layout()
plt.show()

In [ ]:
# Aggregate at regional level
regional_summary = df.groupby("region").agg({
    "gdp_per_capita_usd": "mean",
    "health_risk_class": "mean"
}).reset_index()

plt.figure(figsize=(8,5))

scatter = plt.scatter(
    regional_summary["region"],
    regional_summary["gdp_per_capita_usd"],
    c=regional_summary["health_risk_class"],
    s=regional_summary["health_risk_class"] * 300,
    alpha=0.7
)

plt.colorbar(scatter, label="Average Health Risk Class")
plt.title("Regional Comparison: GDP vs Health Risk")
plt.xlabel("Region")
plt.ylabel("Average GDP per Capita (USD)")
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize=(12,6))
sns.scatterplot(
    data=df,
    x='gdp_per_capita_usd',
    y='healthcare_access_index',
    hue='region',
    palette='tab10',
    alpha=0.7
)



plt.xlabel('GDP per Capita (USD)')
plt.ylabel('Healthcare Access Index')
plt.title('Healthcare Access vs GDP per Capita by Region')
plt.grid(True)
plt.tight_layout()
plt.show()

In [ ]:
# Scatter plot: PM2.5 vs AQI
plt.figure(figsize=(10,6))
sns.scatterplot(
    data=df,
    x='pm25_ugm3',
    y='air_quality_index',
    alpha=0.7
)


# Labels and title
plt.xlabel('PM2.5 (Âµg/mÂ³)')
plt.ylabel('Air Quality Index (AQI)')
plt.title('PM2.5 vs Air Quality Index')
plt.grid(True)

plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize=(10,6))
sns.scatterplot(
    data=df,
    x='gdp_per_capita_usd',
    y='food_security_index',
    alpha=0.7
)


plt.xlabel('GDP per Capita (USD)')
plt.ylabel('Food Security Index')
plt.title('GDP per Capita vs Food Security Index')
plt.grid(True)

plt.tight_layout()
plt.show()

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import pickle
from google.colab import files


uploaded = files.upload()
df = pd.read_csv("cleaned_dataset.csv")

X = df.drop(columns=['health_risk_class'])
y = df['health_risk_class']

categorical_cols = X.select_dtypes(include=['object', 'category']).columns
print("Categorical columns:", categorical_cols.tolist())

X_encoded = pd.get_dummies(X, columns=categorical_cols, drop_first=True)
print("Shape after encoding:", X_encoded.shape)

X_train, X_test, y_train, y_test = train_test_split(
    X_encoded, y, test_size=0.2, random_state=42, stratify=y
)


rf_model = RandomForestClassifier(
    n_estimators=200,
    max_depth=None,
    min_samples_split=2,
    min_samples_leaf=1,
    max_features='sqrt',
    class_weight='balanced',
    random_state=42,
    n_jobs=-1
)


print("Training Random Forest...")
rf_model.fit(X_train, y_train)


y_pred = rf_model.predict(X_test)


accuracy = accuracy_score(y_test, y_pred)
print(f"\nRandom Forest Accuracy: {accuracy:.4f}\n")
print("Classification Report:")
print(classification_report(y_test, y_pred))
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred))


with open('random_forest_model.pkl', 'wb') as f:
    pickle.dump(rf_model, f)

files.download('random_forest_model.pkl')

In [ ]:
from google.colab import files
import pickle


uploaded = files.upload()



with open('random_forest_model.pkl', 'rb') as f:
    rf_model = pickle.load(f)

In [ ]:



import pandas as pd
import pickle
from google.colab import files  # only in Colab



with open('random_forest_model.pkl', 'rb') as f:
    rf_model = pickle.load(f)


uploaded = files.upload()
test_df = pd.read_csv("test.csv")


record_ids = test_df['record_id'] if 'record_id' in test_df.columns else pd.Series(range(1, len(test_df)+1))


columns_to_drop = ['record_id', 'country_name', 'date', 'year', 'week']
X_test = test_df.drop(columns=[col for col in columns_to_drop if col in test_df.columns])


categorical_cols = X_test.select_dtypes(include=['object', 'category']).columns
X_test_encoded = pd.get_dummies(X_test, columns=categorical_cols, drop_first=True)

train_features = rf_model.feature_names_in_
for col in train_features:
    if col not in X_test_encoded.columns:
        X_test_encoded[col] = 0
X_test_encoded = X_test_encoded[train_features]


probs = rf_model.predict_proba(X_test_encoded)


submission = pd.DataFrame(probs, columns=rf_model.classes_)
submission.insert(0, 'record_id', record_ids)


column_mapping = {
    rf_model.classes_[0]: 'Low_Risk',
    rf_model.classes_[1]: 'Moderate_Risk',
    rf_model.classes_[2]: 'High_Risk',
    rf_model.classes_[3]: 'Critical_Risk'
}
submission = submission.rename(columns=column_mapping)


submission = submission[['record_id', 'Low_Risk', 'Moderate_Risk', 'High_Risk', 'Critical_Risk']]


print("\nâœ… Submission preview:")
print(submission.head())


submission.to_csv("submission.csv", index=False)
files.download("submission.csv")